USE [master]
GO
/****** Object:  Database [acdb]    Script Date: 2022/11/03 10:45:51 AM ******/
CREATE DATABASE [acdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'acdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\acdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'acdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\acdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [acdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [acdb]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 2022/11/03 10:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [uniqueidentifier] NOT NULL,
	[admin_name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2022/11/03 10:45:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id]  AS ('P'+right('0000'+CONVERT([varchar](4),[id]),(4))) PERSISTED,
	[product_name] [varchar](50) NULL,
	[order_date] [date] NULL,
	[is_delete] [tinyint] NULL,
 CONSTRAINT [PK__product__3213E83FB76A89DB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [DF_admin_user_id]  DEFAULT (newid()) FOR [admin_id]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_is_delete]  DEFAULT ((0)) FOR [is_delete]
GO
USE [master]
GO
